body {
  font-family: Arial;
  background: grey;
}

@font-face{
  font-family: "Science Fair";
  src: url("fonts/ScienceFair-Vyv6.otf");
}

.parallax {
  background-image: url('/home/jfgarza/Documents/Work/Diverciencia/K1ngCrims0n.github.io/imgs/cools.png');

  height: 200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

h3, h2{
  text-align: center;
}

.card p{
  text-align: center;
}

.leftcolumn {
  float: left;
  width: 63.3%;
}

.rightcolumn {
  float: left;
  width: 35%;
  padding-left: 20px;
}


.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
}
