@font-face{
  font-family: "Science Fair";
  src: url("/K1ngCrims0n.github.io/fonts/ScienceFair-Vyv6.otf");
}

html{
  height: 100%;
  margin: 0;
}

body {
  font-family: Science Fair;
  background-color: #303C6C;
  height: 100%;
  padding:0;
  margin:0;
}

h1{
  color: #D1D7E0;
  text-align: center;
}

h2{
  text-align: center;
  color: white;
  padding: 10px;
}

h3{
  text-align: center;
  color: #D1D7E0;
  padding: 10px;
}

p{
  text-align: center;
  color: #D1D7E0;
  padding: 10px;
  font-size: 14px;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: #303C6C;}
#News {background-color: #303C6C;}
#Contact {background-color: #303C6C;}
#About {background-color: #303C6C;}

.card {
  padding: 20px;
  margin-top: 20px;
  border-radius: 25px;
  border: 2px solid #564F6F;
  padding: 20px;
}

.parallax {
  background-image: url('/K1ngCrims0n.github.io/imgs/space.jpg');

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftcolumn {
  float: left;
  width: 50%;
  padding-left: 200px;
}

.rightcolumn {
  float: left;
  width: 30%;
}

.header {
  background-size: cover;
  position: relative;
  height: 300px;
  font-family: Science Fair;
}

.text {
  background-color: white;
  color: black;
  font-size: 10vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
	position: static;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
	margin: 40px auto 0px;
	padding: 20px 0px;
  text-align: center;
  background: black;
}

@media screen and (max-width: 1000px) {
    p{
      font-size: 15px;
      padding: 0px;
    }
    h2,h3{
      padding-top: 30px;
      padding-bottom: 0px;
    }
    .tablink{
      font-size: 10px;
    }
    .card{
      height: 500px;
    }
    .parallax{
      height: 300px;
      background-attachment: scroll;
    }
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
}
